body {
    background-color: rgba(0, 0, 165) !important;
}

.container {
    min-height: 100vh;
    background-color: rgba(0, 0, 165) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-card {
    width: 25rem;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}