body {
    background-color: rgba(0, 0, 165) !important;
}

.container {
    min-height: 100vh;
    background-color: rgba(0, 0, 165) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

